* { margin:0; padding:0; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing:border-box;}
:before, :after { -ms-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing:border-box;}
a { text-decoration:none; outline:0; cursor:pointer; margin:0; padding:0; color:#fff; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease;}
a:hover { text-decoration:underline;}
img { border:0; max-width:100%; height:auto;}
ul, ol { list-style-type:none;}
html { height:100%;}
body { height:100%; font-size:16px; line-height:1.5; font-weight:300; font-family:'Ubuntu'; color:#fff; background:#081724;}
.clear { clear:both; height:0; font-size:0;}
.clearfix:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
table { width:100%; border-collapse:collapse; border-spacing:0;}
.a-center { text-align:center;}
.a-left { text-align:left;}
.a-right { text-align:right;}
.cell { vertical-align:middle; display:table-cell;}
.nowrap { white-space:nowrap;}
.thumb img { display:block;}

#wrapper { width:100%; min-width:300px; min-height:100%; position:relative; overflow:hidden;}
.center { max-width:1366px; margin:0 auto; padding:0 20px; position:relative;}
.center:after { content:''; display:table; clear:both;}
#container { padding:25px 0 68px;}
h1, h2, h3, h4, h5, h6 { font-family:'Ubuntu'; font-weight:300; color:#fff; margin-bottom:24px;}
h1, h2 { font-size:36px; line-height:36px; position:relative;}
h3 { font-size:24px; line-height:28px;}
h4 { font-size:20px; line-height:24px;}
h5 { font-size:18px; line-height:24px; font-weight:500;}
h6 { font-size:16px; line-height:24px; font-weight:500;}

/* header */
#header { position:relative; border-bottom:1px solid #394550; z-index:100;}
.main-menu { float:left;}
.main-menu li { float:left;}
.main-menu li a { display:block; font-size:16px; line-height:28px; color:#969392; padding:10px 25px; position:relative; text-decoration:none; text-transform:uppercase;}
.main-menu li.active a, .main-menu li a:hover, .main-menu li a:active { color:#fff;}
.main-menu li.active a:before { content:''; display:block; position:absolute; width:100%; height:3px; left:0; bottom:-2px; background:#458941;}
.right-menu { float:right;}
.right-menu li { float:left;}
.right-menu li a { display:block; font-size:16px; line-height:28px; color:#969392; padding:10px 12px; position:relative; text-decoration:none; text-transform:uppercase; vertical-align:top;}
.right-menu li.active a, .right-menu li a:hover, .right-menu li a:active { color:#fff;}
.right-menu li a .fa { font-size:25px; line-height:28px; vertical-align:top;}
.right-menu li.user-link a .fa { margin-left:18px;}
#navmobile-btn { display:none; float:left; width:40px; height:40px; margin:4px; line-height:40px; text-align:center; font-size:24px; color:#969392; cursor:pointer;}
#navmobile-btn:active { color:#fff;}

/* index */
.index-content { padding:68px 0; max-width:888px; margin:0 auto;}
.settings-fixed-icon { display:block; position:fixed; top:16px; right:16px; opacity:0.2; width:60px; height:60px; line-height:60px; text-align:center; font-size:40px; color:#fff; z-index:50;}
.settings-fixed-icon:hover, .settings-fixed-icon:active { opacity:1;}
.main-item { padding-top:44px; max-width:888px; margin:0 auto;}
.main-item .percent-column { float:left; width:260px;}
.percent-item { position:relative; color:#08ac3d; font-family:'Open Sans', sans-serif; font-size:148px; height:130px; line-height:130px;}
.percent-item .percent-val { font-size:148px; letter-spacing:-0.035em; margin-left:-8px; opacity:1; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease;}
.percent-item .percent-unit { font-size:48px; line-height:56px; vertical-align:top; opacity:1; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease;}
.percent-item .percent-updater { display:block; position:absolute; width:43px; height:43px; text-align:center; font-size:25px; line-height:43px; color:#fff; border-radius:50%; left:-64px; top:10px; cursor:pointer; opacity:0.15;}
.percent-item .percent-updater.active, .percent-item .percent-updater:hover { background:#e95d0f; opacity:1;}
.percent-loader { display:block; opacity:0; position:absolute; top:50%; left:50%; width:32px; height:32px; margin:-16px 0 0 -16px; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease;}
.percent-loader img { display:block;}
.main-item .graph-column { margin-left:280px;}
#graph { height:200px;}
.services-list { vertical-align:top; margin:40px -4px 0 4px;}
.service-item { display:inline-block; margin-left:-4px; vertical-align:top; width:16.66%;}
.service-item .item-inner { display:block; padding:18px 15px 12px; height:237px; text-align:center; text-decoration:none;}
.service-item .percent-service { display:block; position:relative; color:#fff; font-size:57px; height:62px; line-height:62px; margin-bottom:22px;}
.service-item .percent-service .percent-val { font-size:57px;}
.service-item .percent-service .percent-unit { font-size:22px; line-height:36px; font-family:'Open Sans', sans-serif; vertical-align:top;}
.service-item .service-name { display:block; min-height:85px; margin-bottom:15px;}
.service-item .service-logo { display:block; height:43px; max-width:102px; margin:0 auto;}
.service-item .service-subtitle { display:block; font-size:18px; line-height:21px;}
.service-item .service-navicon { display:block; padding:9px 0; opacity:0;}
.service-item .service-navicon .bar { display:block; position:relative; width:19px; height:1px; margin:0 auto; background:#1c4f7a;}
.service-item .service-navicon .bar:before, .service-item .service-navicon .bar:after { content:''; display:block; position:absolute; width:100%; height:1px; left:0; background:#1c4f7a;}
.service-item .service-navicon .bar:before { top:-6px;}
.service-item .service-navicon .bar:after { bottom:-6px;}
.service-item .item-inner:hover { background:#12334f;}
.service-item .item-inner:hover .service-navicon { opacity:1;}
.percent-item.loading .percent-val, .percent-item.loading .percent-unit, .percent-service.loading .percent-val, .percent-service.loading .percent-unit { opacity:0;}
.percent-item.loading .percent-loader, .percent-service.loading .percent-loader { opacity:1;}

/* table */
th { text-align:center;}
.data-table th { font-size:12px; line-height:18px; color:#969392; text-transform:uppercase; font-weight:300; padding:10px; vertical-align:middle; border:none; border-bottom:1px solid #394550;}
.data-table td { padding:12px 10px; border:none; border-bottom:1px dotted #394550; vertical-align:top;}
.data-table img { max-width:none;}

/* news */
.news-item .thumb { position:relative; float:left; width:26%;}
.news-item .thumb img { width:100%;}
.news-item .thumb .overlay:before { content:''; display:block; position:absolute; width:100%; height:100%; top:0; left:0; opacity:0.25; z-index:1;}
.news-item.safe .thumb .overlay:before { background:#64bd63;}
.news-item.unsafe .thumb .overlay:before { background:#bd636b;}
.news-item .entry { margin-left:28.5%;}
.news-item.no-thumb .entry { margin-left:0;}
.news-item .entry h4 { margin-bottom:8px; font-family:'Open Sans', sans-serif;}
.news-item .entry .item-meta { font-size:14px; line-height:18px; margin-bottom:10px; color:#4a84b6;}
.news-item .entry .item-meta span { margin:0 7px;}
.news-item .entry .item-meta a { color:#4a84b6;}

/* se */
.se-content { padding:68px 0;}
.heading-logo { float:left; width:180px; text-align:center; margin-top:5px; padding:0 15px;}
.heading-logo .subtitle { display:block; text-align:center; font-size:18px; line-height:21px; margin-top:10px; text-decoration:none;}
.heading h1 { margin-left:218px;}
.se-results { padding-top:35px;}
.results-table { max-width:1250px;}
.results-table td.cell-actions { width:208px; vertical-align:middle;}
.results-table.data-table td { border-bottom:none;}
.results-table.data-table>tbody>tr:first-child>td { padding-top:24px;}
.results-table.data-table>tbody>tr:last-child>td { padding-bottom:24px;}
.results-table .result-check { width:132px;}
.results-table .result-check .item-gear { width:42px; height:42px; line-height:42px; text-align:center; font-size:38px; opacity:0; margin-right:18px;}
.results-table .result-check:hover .item-gear { opacity:0.2;}
.results-table .result-check .item-gear:hover, .results-table .result-check .item-gear:active { opacity:1;}
.more-wrap { max-width:888px; margin:0 auto; padding-top:30px;}
.more-wrap .more-load { display:block; border:1px solid #143653; text-align:center; color:#4a84b6; padding:13px 20px; text-decoration:none;}
.more-wrap .more-load:hover { background:#143653;}

/* popup updates */
.update-item { padding:36px 0;}
.update-item+.update-item { border-top:1px dotted rgba(255,255,255,0.3);}
.update-item .update-check { margin-top:35px;}
.update-item .update-check-label { display:block; margin-left:96px; font-size:24px; line-height:21px; color:#fff;}
.update-item .update-check-label span { display:none; vertical-align:middle; height:42px;}
.update-item.safe .update-check-label .label-checked, .update-item.unsafe .update-check-label .label-unchecked { display:table-cell;}
.update-item .ez-checkbox.switch-checkbox { display:block; float:left;}
.ez-checkbox.switch-checkbox { background:#f12f3b; border:none; display:inline-block; width:68px; height:42px; position: relative; cursor:pointer; border-radius:21px; zoom: 1; vertical-align:top; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.ez-checkbox.switch-checkbox:before { content:''; display:block; position:absolute; width:40px; height:40px; background:#fff; border-radius:50%; top:1px; left:1px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.ez-checkbox.switch-checkbox input { width:68px; height:42px; display:block;}
.ez-checkbox.switch-checkbox.ez-checked { background:#64bd63;}
.ez-checkbox.switch-checkbox.ez-checked:before { left:27px;}

/* datepicker checks */
.datepicker-checks .ui-datepicker { width:533px; max-width:100%; margin:0 auto; padding:0 0 30px; background:none; border:none; border-radius:0; font-family:'Open Sans', sans-serif; font-weight:300; color:#fff;}
.datepicker-checks .ui-datepicker-header { background:none; border:none; padding:0; margin-bottom:32px; font-weight:300;}
.datepicker-checks .ui-datepicker-prev, .datepicker-checks .ui-datepicker-next { display:none;}
.datepicker-checks .ui-datepicker-title { margin: 0;}
.ui-datepicker .ui-datepicker-title select { font-size:16px; color:#081724; margin:0; padding:5px;}
.datepicker-checks .ui-datepicker-calendar { margin:0;}
.datepicker-checks .ui-datepicker-calendar thead, .datepicker-checks .ui-datepicker-calendar thead th { display:none;}
.datepicker-checks .ui-datepicker-calendar td { padding:7px 4px 11px; border:1px solid #102d46; cursor:pointer;}
.datepicker-checks .ui-datepicker-calendar td.ui-state-disabled { cursor:default;}
.datepicker-checks .ui-state-default { border:none; background:none; font-weight:300; color:#fff; padding:0; text-align:center; margin-bottom:7px; font-size:20px; line-height:24px;}
.datepicker-checks .ui-datepicker-calendar .ui-state-highlight { border:1px solid #102d46; background:none; color:#fff;}
.datepicker-checks .ui-datepicker-calendar .ui-state-highlight a { background:none;}
.datepicker-checks .ui-datepicker-calendar a.ui-state-highlight { border:none;}
.datepicker-checks .datepicker-checkbox { display:block; width:42px; height:26px; margin:0 auto; background:#f12f3b; border-radius:13px; position:relative; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.datepicker-checks .datepicker-checkbox:before { content:''; display:block; position:absolute; width:24px; height:24px; background:#fff; border-radius:50%; top:1px; left:1px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.datepicker-checks .ui-state-highlight .datepicker-checkbox { background:#64bd63;}
.datepicker-checks .ui-state-highlight .datepicker-checkbox:before { left:17px;}

/* settings */
.top-actions { text-align:right; margin-bottom:10px;}
.btn-clipboard { background:none; border:none; color:#fff; outline:none; cursor:pointer;}
.remove-link { display:inline-block; width:15px; height:15px; background:url(../images/remove-ico.png) no-repeat 0 0; -webkit-transition:none; -moz-transition:none; -o-transition:none; transition:none;}
.remove-link:hover, .remove-link:active { background-position:right 0;}
.settings-table .percent-cell { text-align:center;}
.settings-table .table-actions { text-align:right; white-space:nowrap;}
.settings-table .btn-clipboard { margin-right:15px;}
.settings-table .remove-link { margin-left:10px;}
.settings-table .add-link { display:inline-block; margin-left:10px; font-size:22px; line-height:24px; opacity:0.2;}
.settings-table .add-link:hover, .settings-table .add-link:active { opacity:1;}

/* login */
.login-content { padding:150px 0; max-width:440px; margin:0 auto;}
.login-content .login-title { margin-left:104px; font-size:18px; line-height:24px; margin-bottom:84px;}
.login-content .form-row .form-label { width:62px;}
.login-content .form-row .inp-box, .login-content .submit-row .inp-box { margin-left:104px;}
.login-content .btn { padding:5px 16px;}

/* form */
input, textarea, select { font-family:'Ubuntu'; color:#000; font-size:16px; line-height:22px;}
input.input-text, textarea.input-text, input[type="password"] { background:#fff; border:1px solid #d6d6d6; padding:3px 10px 4px; width:336px; max-width:100%;}
input.input-text { height:31px;}
textarea.input-text { display:block; resize:vertical; overflow:auto; height:130px;}
input.input-text.input-small { width:110px;}
select.input-text { background:#fff; border:1px solid #d6d6d6; width:198px; max-width:100%; height:31px; padding:3px 10px 4px;}
input.timepicker { width:198px;}
.ez-checkbox input, .ez-radio input { cursor:pointer; margin:0; width:20px; height:20px;}
.ez-checkbox, .ez-radio { background:#2d8f7b; border:1px solid transparent; display: inline-block; position: relative; vertical-align:top; cursor:pointer; width:22px; height:22px; zoom: 1; *display: inline; vertical-align:top;}
.ez-radio { border-radius:50%;}
.ez-checked:before, .ez-selected:before { content:''; display:block; width:12px; height:10px; position:absolute; top:5px; left:4px;}
.ez-checked:before { background:url(../images/checkbox-ico.png) no-repeat 0 0;}
.ez-selected:before { width:10px; height:10px; background:#fff; border-radius:50%; left:5px;}
.ez-hide { opacity: 0; filter: alpha(opacity = 0);}
.btn { display:inline-block; position:relative; background:#1bb394; padding:10px 16px; font-size:16px; line-height:24px; color:#fff; font-family:'Ubuntu'; font-weight:300; text-align:center; cursor:pointer; text-decoration:none; border:1px solid transparent; border-radius:3px; outline:none; vertical-align:top; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease;}
.btn:hover, .btn:active { background:#19a98c; text-decoration:none;}
.btn.btn-second { background:none; border:1px solid #2e3a44; border-radius:0; padding:10px 20px;}
.btn.btn-second:hover, .btn.btn-second:active { background:#2e3a44;}
.btn .fa { vertical-align:top; font-size:24px; margin-right:8px;}
.form-block { padding-top:18px;}
.form-row { margin-bottom:27px;}
.form-row:after, .submit-row:after { content:''; clear:both; display:table;}
.form-row .form-label { display:block; float:left; text-align:right; width:200px; font-size:16px; line-height:15px; color:#fff;}
.form-row .form-label span { height:31px; width:200px; vertical-align:middle; display:table-cell;}
.form-row .inp-box, .submit-row .inp-box { margin-left:244px;}
.inp-box .inp-units { margin-left:15px;}
.checks-list { vertical-align:top;}
.checks-list li { display:inline-block; vertical-align:top; text-align:center; margin-right:12px; margin-bottom:18px;}
.checks-list .check-label { display:block; cursor:pointer; font-size:12px; color:#fff; padding-top:7px;}
.checks-list .check-label img { max-width:102px;}
.checks-list.check-logos li { margin-right:40px;}
.checks-list.check-logos .check-label { margin-top:22px;}
.checks-list.check-logos .check-label .subtitle { font-size:18px; max-width:120px; display:block; line-height:21px; margin-top:5px;}

/* modal */
body.open-modal { overflow: hidden;}
.modal { position:fixed; top:0; left:0; z-index: 1050; width:100%; max-height:100%; background:#081724; -webkit-background-clip: padding-box; -moz-background-clip: padding-box; background-clip: padding-box; -webkit-background-clip: padding-box; -moz-background-clip: padding-box; background-clip: padding-box; outline:none; text-align:left; overflow:auto; overflow-x:hidden;}
.modal-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1040; background:#000;}
.hide { display:none;}
.fade { opacity: 0; -webkit-transition: opacity .15s linear; -moz-transition: opacity .15s linear; -o-transition: opacity .15s linear; transition: opacity .15s linear;}
.modal.fade { -webkit-transition: opacity .3s linear, top .3s ease-out; -moz-transition: opacity .3s linear, top .3s ease-out; -o-transition: opacity .3s linear, top .3s ease-out; transition: opacity .3s linear, top .3s ease-out;}
.fade.in { opacity: 1;}
.modal-backdrop.fade.in { opacity:0.52;}
.modal-scrollbar-measure { position: absolute; top: -9999px; width: 50px; height: 50px; overflow: scroll;}
.modal_close { display:block; position:fixed; width:39px; height:39px; cursor:pointer; top:34px; right:40px; z-index:100; background:url(../images/close.png) no-repeat center center;}
.modal_inner { max-width:1000px; margin:0 auto; padding:0 30px; position:relative;}

@media screen and (max-width: 1200px) {
	.main-menu li a, .right-menu li a { font-size:14px;}
	.main-menu li a { padding:10px 12px;}
	.right-menu li.user-link a .fa { margin-left:10px;}
	
	.checks-list.check-logos li { margin-right:20px;}
}

@media screen and (max-width: 1050px) {
	.index-content { margin:0 64px; max-width:none;}
	.modal_close { width:30px; height:30px; top:10px; right:15px;}
}

@media screen and (min-width: 991px) {
	.main-menu { display:block !important;}
}

@media screen and (max-width: 990px) {
	.center { padding:0 15px;}
	
	#navmobile-btn { display:block;}
	.main-menu { display:none; float:none; position:absolute; top:100%; margin-top:1px; left:0; width:100%; background:#081724; border-bottom:1px solid #394550;}
	.menu-opened .main-menu { display:block;}
	.main-menu li { float:none;}
	.main-menu li a { line-height:24px; padding:12px 20px;}
	.main-menu li.active a:before { display:none;}
	
	.service-item { width:33.33%;}
	.results-table td.cell-actions { width:auto;}
	.results-table .result-check .item-gear { opacity:0.2;}
	
	.news-item .thumb { width:32%;}
	.news-item .entry { margin-left:34%;}
	
	.checks-list li { margin-bottom:24px;}
	.checks-list.check-logos .check-label { margin-top:12px;}
}

@media screen and (max-width: 767px) {
	.main-item .percent-column { float:none; width:auto;}
	.index-content { margin:0;}
	.index-content .main-item .percent-column { padding-left:64px;}
	.percent-item .percent-val { margin-left:0;}
	.main-item .graph-column { margin-left:0; margin-top:30px;}
	
	.heading-logo { float:none; width:auto; text-align:left; margin:0 0 15px;}
	.heading h1 { margin-left:0;}
	
	.news-item .thumb { float:none; width:auto; max-width:250px; margin:0 auto;}
	.news-item .entry { margin-left:0; margin-top:20px;}
	.update-item .update-check-label { margin-left:84px; font-size:18px;}
	
	.results-table thead, .results-table th { display:none;}
	.results-table tbody tr { border-bottom:1px dotted #394550;}
	.results-table td { display:block; padding-left:0; padding-right:0;}
	.results-table.data-table>tbody>tr:first-child>td { padding-top:12px;}
	.results-table.data-table>tbody>tr:last-child>td { padding-bottom:12px;}
	.results-table .result-check { margin:0 auto;}
	
	.datepicker-checks td { display:table-cell;}
	
	.settings-table, .settings-table tbody, .settings-table tr, .settings-table td { display:block;}
	.settings-table thead, .settings-table th { display:none;}
	.settings-table { border-top:1px dotted #394550;}
	.settings-table tr { border-bottom:1px dotted #394550;}
	.settings-table td { border:none;}
	.settings-table td:before { content:attr(data-th)': ';  color:#969392;}
	.settings-table td:not([data-th]):before { display:none;}
	.settings-table td.percent-cell { display:inline;}
	.settings-table td.table-actions { text-align:left;}
	
	.form-row .form-label { float:none; text-align:left; width:auto; line-height:24px; margin-bottom:7px;}
	.form-row .form-label span { height:auto; width:auto; display:inline;}
	.form-row .inp-box, .submit-row .inp-box { margin-left:0;}
	
	.login-content { padding:80px 0;}
	.login-content .login-title { margin-left:0; margin-bottom:44px;}
	.login-content .form-row .form-label { width:auto;}
	.login-content .form-row .inp-box, .login-content .submit-row .inp-box { margin-left:0;}
	
	input.input-text, textarea.input-text, input[type="password"], select.input-text { width:100%;}
}

@media screen and (max-width: 598px) {
	.service-item { width:50%;}
}

@media screen and (max-width: 460px) {
	.settings-fixed-icon { position:absolute;}
	.percent-item { font-size:110px; height:100px; line-height:100px;}
	.percent-item .percent-val { font-size:110px;}
	.percent-item .percent-unit { font-size:36px; line-height:44px;}
	.service-item { width:50%;}
	
	.datepicker-checks .datepicker-checkbox { width:34px; height:20px; border-radius:10px;}
	.datepicker-checks .datepicker-checkbox:before { width:18px; height:18px;}
}
.error{
	color: red;
}
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 21px 0;
	border-radius: 4px;
}
.pagination li{
	float: left;

}
.pagination>li {
	display: inline;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #394550;;
	background-color: #081724;
	border: 1px solid #394550;;
	margin-left: -1px;
}

.active-today {
	color:  #08ac3d;;
}
em {
	color:  #08ac3d;;
}
li.active span{
	color:  #08ac3d;
}

.neutral .ez-checkbox.switch-checkbox {
	background: gray !important;
}

.parse-time{
	font-size: 12px;
}
.mark-3{
	font-size: 14px;
}
.mark-3 label {
	cursor: pointer;
}
.hide{
	display: none;
}
.graph-marks {
	  height:200px;
}
.highcharts-tick {
	display: none !important;
}

.btn-new{
	width: 60%;
	display: block;
	text-align: center;
	background-color: gray;
	color: white;
	border-radius: 17px;
	margin-left: 30px;
}
.index-msg-buttom{
	color:  #08ac3d;
	margin-left: 31px;
	font-size: 13px;
}
.item-msg-buttom{
	color:  #08ac3d;
}
.input-preset{
	color: #fff;
	background:#12334f;
	padding: 12px 10px;
	border: none;
	border-bottom: 1px dotted #394550;
}
.input-preset-btn{
	display: none;
}
.monitoring-proxy-preset{
	padding: 12px 10px;
	color:  #08ac3d;
}
.span-text{
	padding: 12px 10px;
}
.token span{
	margin-left: 100px;
}
.token {
	width: 330px;
}
.token .remove-link{
	float: right;
}

